{% extends 'layout.html' %}
{% load static %}

{% block content%}


<div class="intro d-flex" style="background-color: #e9c46a; color :black">
  <img width="10%" class="card-img-left example-card-img-responsive" src="{% static 'image/Logo-mundo.png' %}" />
  <div class="card-body">
    <h4 class="card-title h5 h4-sm">Spotlight - Nuestra Mision:</h4>
    <br>
    <p class="card-text"> <strong> Quien decide que historias contar y que no?
        La masividad en la generación de información y el bombardeo constante de noticias nos obliga
        constantemente
        a evaluar que es cierto y que no, y a quienes benefician.....Este blog busca generar un espacio para
        todos aquellos eventos
        que cotidianamente son olvidados tengan su lugar de difusión. Se parte de esta comunidad cuyo objetivo
        es exponer la verdad y buscar justicia
        para garantizar una informacion veraz y objetiva! </strong> </p>
  </div>

</div>
<hr>
<div class="row">
  <h3 class="text-center">Ultimas publicaciones!</h3>
  {% for post in posts %}
  <div class="col md-3 m-1 d-flex align-items-stretch">

    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{post.imagen.url}}" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{post.titulo|truncatechars:40}}</h5>
        
        <p class="card-text">{{post.cuerpo|truncatechars:100}}</p>
        <p class=""card-text>Autor: {{post.user}}</p>
        <a href="{% url 'mostar_post' post.id %}" class="btn btn-success mt-auto">Ver!</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>



<hr>

<footer class="text-center text-white" style="background-color: #2a9d8f;" >
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
   
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Gracias por leernos! </strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
         
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Para mas información, siguenos en nuestras redes sociales <img width="3%" src="{% static 'image/github.png'  %}" alt="">
        <img width="3%" src="{% static 'image/facebook.png'  %}" alt="">
        <img width="3%" src="{% static 'image/instagram.png'  %}" alt="">
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 CoderHouse
    
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}

