{% extends 'layout.html' %}
{% load static %}

{% block content%}


<div class="intro d-flex">
    <img width="10%" class="card-img-left example-card-img-responsive" src="{% static 'image/Logo-mundo.png' %}" />
    <div class="card-body">
        <h4 class="card-title h5 h4-sm">Spotlight - Nuestra Mision:</h4>
        <br>
        <p class="card-text"> <strong> Quien decide que historias contar y que no?
                La masividad en la generación de información y el bombardeo constante de noticias nos obliga
                constantemente
                a evaluar que es cierto y que no, y a quienes benefician.....Este blog busca generar un espacio para
                todos aquellos eventos
                que cotidianamente son olvidados tengan su lugar de difusión. Se parte de esta comunidad cuyo objetivo
                es exponer la verdad y buscar justicia
                para garantizar una informacion veraz y objetiva! </strong> </p>
    </div>

</div>
<hr>
<div class="row">
    <h3 class = "text-center">Ultimas publicaciones!</h3>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class = "col md-3 m-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

</div>



<hr>


<div class="row d-flex">

    <div class="col md-4 m-1" >
        <div class="card flex-row" style="height: 200px;"><img class="card-img-left example-card-img-responsive"
                src="{% static 'image/periodico.png' %}" />
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">Tu noticia!</h4>
                <p class="card-text">Comparte eso que sabes y muchos no quieren que se sepa!</p>
                <a href="" class="btn btn-success"> Publicar!</a>
            </div>
        </div>
    </div>
    <div class="col md-4 m-1">
        <div class="card flex-row"style="height: 200px;"><img class="card-img-left example-card-img-responsive"
                src="{% static 'image/comunidad.png' %}" />
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">Nuesta comunidad!</h4>
                <p class="card-text">Conoce a los usuarios del blog....</p>
                <a href="" class="btn btn-success"> Ir!</a>
            </div>
        </div>
    </div>

    <div class="col md-4 m-1">
        <div class="card flex-row"><img class="card-img-left example-card-img-responsive"
                src="{% static 'image/lupa.png' %}" />
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">Encuentra!</h4>
                <p class="card-text">Sobre que quieres saber mas...</p>
                <form class="form-inline d-flex m-1">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <br>
                    <button class="btn btn-success  my-sm-0" type="submit">Buscar!</button>
                </form>

            </div>
        </div>
    </div>

    
    </div>
</div>
{% endblock %}