{% extends 'layout.html' %}
{% load static %}

{% block content %}

<style>
    .perfil-img {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<div class="row">
    <div class="col-md-3 m-2">
        <div class="card" style="width: 18rem;">
            <a href="{% url 'home' %}" class="btn btn-warning"> <strong> Volver a principal</strong></a>
            <img class="perfil-img my-2" src="{{request.user.userprofile.imagen.url}}" alt="Card image cap">
            <div class="card-body justify-content-center">
                <h5 class="card-title ">{{request.user}}</h5>
                <p>email: {{request.user.userprofile.email}}</p>
                <a href="{% url 'editar_perfil' %}" class="btn btn-warning ">Editar</a>
                <a href="{% url 'agregar_post' %}" class="btn btn-success ">+ Post</a>



            </div>
            <a href="{% url 'mensajes_enviados' %}" class="btn btn-primary ">Mensajes</a>
            {% for message in messages %}
            <p class="m-3">{{message}}</p>
            {% endfor %}

        </div>

    </div>
    
    {% for post in posts %}
  <div class="col md-3 m-1 d-flex align-items-stretch">

    
    <div class="card" style="width: 18rem; ">
      <img class="card-img-top" src="{{post.imagen.url}}" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.cuerpo|truncatechars:100}}</p>
        <p class="mt-auto">
          <a href="{% url 'mostar_post' post.id %}" class="btn btn-primary mt-auto ">Ver</a>
          <a href="{% url 'editar_post' post.id %}" class="btn btn-warning mt-auto">Editar</a>
          <a href="{% url 'eliminar_post' post.id %}" class="btn btn-danger mt-auto">Borrar</a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}