{% extends 'layout.html' %}
{% load static %}

{% block content %}

<style>
	.perfil-img{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
    <div class="col-md-3 m-2">
        <div class="card" style="width: 18rem;">
            <a href="{% url 'home' %}" class="btn btn-warning"> <strong> Volver a principal</strong></a>
            <img class="perfil-img my-2" src="{{request.user.userprofile.imagen.url}}" alt="Card image cap">
            <div class="card-body justify-content-center">
                <h5 class="card-title ">{{request.user.userprofile.nombre_usuario}}</h5>
                <p>email: {{request.user.userprofile.email}}</p>
                <a href="{% url 'editar_perfil' %}" class="btn btn-warning ">Editar</a>
                <a href="{% url 'agregar_post' %}" class="btn btn-success ">+ Post</a>

            </div>
            <a href="{% url 'mensajes_enviados' %}" class="btn btn-primary ">Mensajes</a>
        </div>
    </div>

    
    <div class="col-md-8 m-2">
        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'mensajes_enviados' %}">Enviados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'mensajes_recibidos' %}">Recibidos</a>
                </li>
                <li>
                  <a href="{% url 'enviar_mensaje' %}" class = "btn btn-success"> Nuevo mensaje</a>
                </li>
                
              </ul>
            </div>
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    
                    <th scope="col">De</th>
                    <th scope="col">Asunto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for mensaje in mensajes %}
                  <tr>
                    
                    <td>{{mensaje.de}}</td>
                    <td>{{mensaje.asunto}}</td>
                    <td>{{mensaje.fecha}}</td>
                    <td>
                      <a class="btn btn-info btn-sm" href="{% url 'mostrar_mensaje' mensaje.id %}">Ver</a>
                      <a class="btn btn-danger btn-sm" href="">Borrar</a> 
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>

    </div>

</div>



{% endblock %}